# Database 
DB_TYPE=mssql 
DB_HOST=localhost 
DB_PORT =xxx
DB_USERNAME=mingnhee
DB_PASSWORD=xxx
DB_NAME=xxx
# App 
APP_PORT =3000
#Token
JWT_ACCESS_SECRET=xxx
JWT_REFRESH_SECRET=xxx
JWT_ACCESS_EXPIRATION_TIME=xxx
JWT_REFRESH_EXPIRATION_TIME=xxx
JWT_VERIFY_EMAIL_SECRET=xxxx
MAIL_USER=aaaaaa
MAIL_PASSWORD=aaaa

CLOUDINARY_CLOUD_NAME=dn2on57mq
CLOUDINARY_API_KEY=725764696478369
CLOUDINARY_API_SECRET=hViLs8srpiCSA0L-43u93KI8eDg

VNP_TMNCODE=xxxxx
VNP_HASHSECRET=xxxxx
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:3000/payments/vnpay-return